In [35]:
import pandas as pd
import os

In [25]:
taarif_path = "./data/Basic - Azrieli & Sons data/taarif.csv"
taarif = pd.read_csv(taarif_path)
taarif.dropna(how='all', inplace=True)
taarif.head()

             customer  basic_taarif  extra_milage  night_bonus  weekend_bonus
1      jerusalem_muni           8.0          40.0         50.0           30.0
2               intel           8.0           6.0         20.0            0.0
3  mizranei_kfar_saba          15.0           4.0          0.0           25.0
4                 dbs          10.0           8.0          0.0           25.0
5               tnuva           6.0           3.0         80.0            0.0

In [26]:
taarif.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 1 to 12
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer       12 non-null     object
 1   basic_taarif   11 non-null     float64
 2   extra_milage   10 non-null     float64
 3   night_bonus    11 non-null     float64
 4   weekend_bonus  11 non-null     float64
dtypes: float64(4), object(1)
memory usage: 576.0+ bytes

In [27]:
drivers_with_kviut_path = "./data/Basic - Azrieli & Sons data/Drivers_with_kviut.csv"
drivers_with_kviut = pd.read_csv(drivers_with_kviut_path)
drivers_with_kviut.rename(columns={'Unnamed: 0': 'combined_id'}, inplace=True)
drivers_with_kviut['birthdate'] = pd.to_datetime(drivers_with_kviut['birthdate'], format='mixed')
drivers_with_kviut['kviut'] = True
drivers_with_kviut.head(10)

   combined_id  birthdate gender   id  vetek  kviut
0          100 1964-05-27      m  502    7.9   True
1          101 1983-10-07      M   81   14.4   True
2          102 1992-10-15      M  814   18.7   True
3          103 1990-07-18      M  666    8.7   True
4          104 1969-10-04      M  205    9.9   True
5          105 1981-05-16      M  759    3.4   True
6          106 1988-09-18      M   96    9.4   True
7          107 1964-06-18      M  671   16.8   True
8          108 1987-09-10      M  100   17.2   True
9          109 1900-01-01      M  321   10.1   True

In [28]:
drivers_with_kviut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   combined_id  900 non-null    int64
 1   birthdate    890 non-null    datetime64[ns]
 2   gender       887 non-null    object
 3   id           900 non-null    int64
 4   vetek        900 non-null    float64
 5   kviut        900 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 36.2+ KB

In [29]:
new_drivers_path = "./data/Basic - Azrieli & Sons data/new_drivers.csv"
new_drivers = pd.read_csv(new_drivers_path)
new_drivers.rename(columns={'Unnamed: 0': 'combined_id'}, inplace=True)
new_drivers['birthdate'] = pd.to_datetime(new_drivers['birthdate'], format='mixed')
new_drivers['kviut'] = False
new_drivers.head(10)

   combined_id  birthdate gender   id  vetek  kviut
0            0 1967-06-19      F  943  232.0  False
1            1 1979-02-13      M  966   28.0  False
2            2 1993-11-19      M  250   48.0  False
3            3 1961-02-02    NaN  156  272.0  False
4            4 1965-07-03      M   67  130.0  False
5            5 1900-01-01      M  684  169.0  False
6            6 1900-01-01      M  527  141.0  False
7            7 1975-03-19      M  556  286.0  False
8            8 1976-09-05      M  446   45.0  False
9            9 1977-09-05      M  841  252.0  False

In [30]:
new_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   combined_id  100 non-null    int64
 1   birthdate    100 non-null    datetime64[ns]
 2   gender       97 non-null     object
 3   id           100 non-null    int64
 4   vetek        100 non-null    float64
 5   kviut        100 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 4.1+ KB

In [31]:
all_drivers = pd.concat([new_drivers, drivers_with_kviut], ignore_index=True)
all_drivers.drop(columns=['combined_id'], inplace=True)
all_drivers.head()

   birthdate gender   id  vetek  kviut
0 1967-06-19      F  943  232.0  False
1 1979-02-13      M  966   28.0  False
2 1993-11-19      M  250   48.0  False
3 1961-02-02    NaN  156  272.0  False
4 1965-07-03      M   67  130.0  False

In [32]:
all_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   birthdate  990 non-null    datetime64[ns]
 1   gender     984 non-null    object
 2   id         1000 non-null   int64
 3   vetek      1000 non-null   float64
 4   kviut      1000 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 32.4+ KB

In [54]:
trips_data_dir = os.listdir("./data/Basic - Azrieli & Sons data/trips_data")
trips_data_dir = [x for x in trips_data_dir if '(2)' not in x]
trips_data_dir_splitted = [x.split('_') for x in trips_data_dir]
trips_data_dir_dict = [{'date': x[0], 'truck_id': x[1].split('.')[0]} for x in trips_data_dir_splitted]
trips_data_dir_dict

[{'date': 'january 2015', 'truck_id': '4781600'},
 {'date': 'july 2015', 'truck_id': '4781558'},
 {'date': 'may 2015', 'truck_id': '4781695'},
 {'date': 'august 2015', 'truck_id': '4781824'},
 {'date': 'september 2015', 'truck_id': '4781558'},
 {'date': 'august 2015', 'truck_id': '4781830'},
 {'date': 'may 2015', 'truck_id': '4781681'},
 {'date': 'february 2015', 'truck_id': '4781529'},
 {'date': 'january 2015', 'truck_id': '4781614'},
 {'date': 'march 2015', 'truck_id': '4781794'},
 {'date': 'july 2015', 'truck_id': '4781564'},
 {'date': 'february 2015', 'truck_id': '4781501'},
 {'date': 'september 2015', 'truck_id': '4781570'},
 {'date': 'april 2015', 'truck_id': '4781697'},
 {'date': 'december 2015', 'truck_id': '4781688'},
 {'date': 'august 2015', 'truck_id': '4781818'},
 {'date': 'december 2015', 'truck_id': '4781850'},
 {'date': 'april 2015', 'truck_id': '4781683'},
 {'date': 'december 2015', 'truck_id': '4781844'},
 {'date': 'september 2015', 'truck_id': '4781564'},
 {'date': 'january 2015', 'truck_id': '4781628'},
 {'date': 'march 2015', 'truck_id': '4781780'},
 {'date': 'july 2015', 'truck_id': '4781570'},
 {'date': 'february 2015', 'truck_id': '4781515'},
 {'date': 'may 2015', 'truck_id': '4781656'},
 {'date': 'june 2015', 'truck_id': '4781724'},
 {'date': 'october 2015', 'truck_id': '4781521'},
 {'date': 'april 2015', 'truck_id': '4781668'},
 {'date': 'december 2015', 'truck_id': '4781677'},
 {'date': 'october 2015', 'truck_id': '4781535'},
 {'date': 'december 2015', 'truck_id': '4781663'},
 {'date': 'may 2015', 'truck_id': '4781642'},
 {'date': 'november 2015', 'truck_id': '4781508'},
 {'date': 'june 2015', 'truck_id': '4781730'},
 {'date': 'january 2015', 'truck_id': '4781827'},
 {'date': 'november 2015', 'truck_id': '4781520'},
 {'date': 'march 2015', 'truck_id': '4781757'},
 {'date': 'june 2015', 'truck_id': '4781718'},
 {'date': 'august 2015', 'truck_id': '4781603'},
 {'date': 'april 2015', 'truck_id': '4781654'},
 {'date': 'october 2015', 'truck_id': '4781509'},
 {'date': 'april 2015', 'truck_id': '4781640'},
 {'date': 'august 2015', 'truck_id': '4781617'},
 {'date': 'november 2015', 'truck_id': '4781534'},
 {'date': 'march 2015', 'truck_id': '4781743'},
 {'date': 'january 2015', 'truck_id': '4781833'},
 {'date': 'january 2015', 'truck_id': '4781364'},
 {'date': 'august 2015', 'truck_id': '4781398'},
 {'date': 'may 2015', 'truck_id': '4781497'},
 {'date': 'january 2015', 'truck_id': '4781402'},
 {'date': 'january 2015', 'truck_id': '4781416'},
 {'date': 'may 2015', 'truck_id': '4781483'},
 {'date': 'january 2015', 'truck_id': '4781370'},
 {'date': 'april 2015', 'truck_id': '4781495'},
 {'date': 'january 2015', 'truck_id': '4781358'},
 {'date': 'september 2015', 'truck_id': '4781772'},
 {'date': 'february 2015', 'truck_id': '4781703'},
 {'date': 'july 2015', 'truck_id': '4781766'},
 {'date': 'march 2015', 'truck_id': '4781596'},
 {'date': 'february 2015', 'truck_id': '4781717'},
 {'date': 'july 2015', 'truck_id': '4781772'},
 {'date': 'march 2015', 'truck_id': '4781582'},
 {'date': 'september 2015', 'truck_id': '4781766'},
 {'date': 'april 2015', 'truck_id': '4781481'},
 {'date': 'december 2015', 'truck_id': '4781475'},
 {'date': 'october 2015', 'truck_id': '4781723'},
 {'date': 'june 2015', 'truck_id': '4781526'},
 {'date': 'march 2015', 'truck_id': '4781569'},
 {'date': 'july 2015', 'truck_id': '4781799'},
 {'date': 'may 2015', 'truck_id': '4781454'},
 {'date': 'june 2015', 'truck_id': '4781532'},
 {'date': 'may 2015', 'truck_id': '4781440'},
 {'date': 'september 2015', 'truck_id': '4781799'},
 {'date': 'december 2015', 'truck_id': '4781461'},
 {'date': 'august 2015', 'truck_id': '4781429'},
 {'date': 'october 2015', 'truck_id': '4781737'},
 {'date': 'december 2015', 'truck_id': '4781449'},
 {'date': 'april 2015', 'truck_id': '4781456'},
 {'date': 'august 2015', 'truck_id': '4781401'},
 {'date': 'march 2015', 'truck_id': '4781555'},
 {'date': 'august 2015', 'truck_id': '4781367'},
 {'date': 'november 2015', 'truck_id': '4781722'},
 {'date': 'may 2015', 'truck_id': '4781468'},
 {'date': 'march 2015', 'truck_id': '4781541'},
 {'date': 'november 2015', 'truck_id': '4781736'},
 {'date': 'august 2015', 'truck_id': '4781373'},
 {'date': 'august 2015', 'truck_id': '4781415'},
 {'date': 'april 2015', 'truck_id': '4781442'},
 {'date': 'october 2015', 'truck_id': '4781694'},
 {'date': 'june 2015', 'truck_id': '4781491'},
 {'date': 'january 2015', 'truck_id': '4781576'},
 {'date': 'january 2015', 'truck_id': '4781562'},
 {'date': 'june 2015', 'truck_id': '4781485'},
 {'date': 'october 2015', 'truck_id': '4781680'},
 {'date': 'march 2015', 'truck_id': '4781384'},
 {'date': 'september 2015', 'truck_id': '4781606'},
 {'date': 'july 2015', 'truck_id': '4781612'},
 {'date': 'november 2015', 'truck_id': '4781695'},
 {'date': 'february 2015', 'truck_id': '4781677'},
 {'date': 'july 2015', 'truck_id': '4781606'},
 {'date': 'february 2015', 'truck_id': '4781663'},
 {'date': 'november 2015', 'truck_id': '4781681'},
 {'date': 'september 2015', 'truck_id': '4781612'},
 {'date': 'march 2015', 'truck_id': '4781390'},
 {'date': 'october 2015', 'truck_id': '4781657'},
 {'date': 'august 2015', 'truck_id': '4781549'},
 {'date': 'december 2015', 'truck_id': '4781501'},
 {'date': 'september 2015', 'truck_id': '4781821'},
 {'date': 'may 2015', 'truck_id': '4781520'},
 {'date': 'february 2015', 'truck_id': '4781688'},
 {'date': 'july 2015', 'truck_id': '4781835'},
 {'date': 'february 2015', 'truck_id': '4781850'},
 {'date': 'june 2015', 'truck_id': '4781452'},
 {'date': 'may 2015', 'truck_id': '4781534'},
 {'date': 'march 2015', 'truck_id': '4781409'},
 {'date': 'july 2015', 'truck_id': '4781821'},
 {'date': 'june 2015', 'truck_id': '4781446'},
 {'date': 'february 2015', 'truck_id': '4781844'},
 {'date': 'september 2015', 'truck_id': '4781835'},
 {'date': 'october 2015', 'truck_id': '4781643'},
 {'date': 'december 2015', 'truck_id': '4781515'},
 {'date': 'august 2015', 'truck_id': '4781575'},
 {'date': 'april 2015', 'truck_id': '4781522'},
 {'date': 'november 2015', 'truck_id': '4781656'},
 {'date': 'july 2015', 'truck_id': '4781809'},
 {'date': 'march 2015', 'truck_id': '4781421'},
 {'date': 'january 2015', 'truck_id': '4781589'},
 {'date': 'may 2015', 'truck_id': '4781508'},
 {'date': 'november 2015', 'truck_id': '4781642'},
 {'date': 'march 2015', 'truck_id': '4781435'},
 {'date': 'march 2015', 'truck_id': '4781353'},
 {'date': 'april 2015', 'truck_id': '4781536'},
 {'date': 'august 2015', 'truck_id': '4781561'},
 {'date': 'december 2015', 'truck_id': '4781529'},
 {'date': 'september 2015', 'truck_id': '4781809'},
 {'date': 'january 2015', 'truck_id': '4781774'},
 {'date': 'february 2015', 'truck_id': '4781449'},
 {'date': 'march 2015', 'truck_id': '4781804'},
 {'date': 'june 2015', 'truck_id': '4781693'},
 {'date': 'october 2015', 'truck_id': '4781496'},
 {'date': 'august 2015', 'truck_id': '4781788'},
 {'date': 'september 2015', 'truck_id': '4781438'},
 {'date': 'october 2015', 'truck_id': '4781482'},
 {'date': 'july 2015', 'truck_id': '4781438'},
 {'date': 'march 2015', 'truck_id': '4781810'},
 {'date': 'june 2015', 'truck_id': '4781687'},
 {'date': 'january 2015', 'truck_id': '4781760'},
 {'date': 'november 2015', 'truck_id': '4781497'},
 {'date': 'february 2015', 'truck_id': '4781475'},
 {'date': 'march 2015', 'truck_id': '4781838'},
 {'date': 'july 2015', 'truck_id': '4781410'},
 {'date': 'september 2015', 'truck_id': '4781362'},
 {'date': 'january 2015', 'truck_id': '4781748'},
 {'date': 'september 2015', 'truck_id': '4781404'},
 {'date': 'july 2015', 'truck_id': '4781376'},
 {'date': 'july 2015', 'truck_id': '4781362'},
 {'date': 'september 2015', 'truck_id': '4781410'},
 {'date': 'september 2015', 'truck_id': '4781376'},
 {'date': 'february 2015', 'truck_id': '4781461'},
 {'date': 'november 2015', 'truck_id': '4781483'},
 {'date': 'july 2015', 'truck_id': '4781404'},
 {'date': 'june 2015', 'truck_id': '4781650'},
 {'date': 'november 2015', 'truck_id': '4781468'},
 {'date': 'may 2015', 'truck_id': '4781722'},
 {'date': 'july 2015', 'truck_id': '4781389'},
 {'date': 'december 2015', 'truck_id': '4781703'},
 {'date': 'october 2015', 'truck_id': '4781455'},
 {'date': 'december 2015', 'truck_id': '4781717'},
 {'date': 'april 2015', 'truck_id': '4781708'},
 {'date': 'october 2015', 'truck_id': '4781441'},
 {'date': 'september 2015', 'truck_id': '4781389'},
 {'date': 'june 2015', 'truck_id': '4781644'},
 {'date': 'may 2015', 'truck_id': '4781736'},
 {'date': 'march 2015', 'truck_id': '4781623'},
 {'date': 'november 2015', 'truck_id': '4781454'},
 {'date': 'april 2015', 'truck_id': '4781720'},
 {'date': 'august 2015', 'truck_id': '4781777'},
 {'date': 'october 2015', 'truck_id': '4781469'},
 {'date': 'august 2015', 'truck_id': '4781763'},
 {'date': 'april 2015', 'truck_id': '4781734'},
 {'date': 'june 2015', 'truck_id': '4781678'},
 {'date': 'march 2015', 'truck_id': '4781637'},
 {'date': 'november 2015', 'truck_id': '4781440'},
 {'date': 'april 2015', 'truck_id': '4781735'},
 {'date': 'august 2015', 'truck_id': '4781762'},
 {'date': 'november 2015', 'truck_id': '4781441'},
 {'date': 'march 2015', 'truck_id': '4781636'},
 {'date': 'june 2015', 'truck_id': '4781679'},
 {'date': 'november 2015', 'truck_id': '4781455'},
 {'date': 'march 2015', 'truck_id': '4781622'},
 {'date': 'october 2015', 'truck_id': '4781468'},
 {'date': 'august 2015', 'truck_id': '4781776'},
 {'date': 'april 2015', 'truck_id': '4781721'},
 {'date': 'october 2015', 'truck_id': '4781440'},
 {'date': 'april 2015', 'truck_id': '4781709'},
 {'date': 'december 2015', 'truck_id': '4781716'},
 {'date': 'may 2015', 'truck_id': '4781737'},
 {'date': 'june 2015', 'truck_id': '4781645'},
 {'date': 'september 2015', 'truck_id': '4781388'},
 {'date': 'may 2015', 'truck_id': '4781723'},
 {'date': 'november 2015', 'truck_id': '4781469'},
 {'date': 'june 2015', 'truck_id': '4781651'},
 {'date': 'october 2015', 'truck_id': '4781454'},
 {'date': 'july 2015', 'truck_id': '4781388'},
 {'date': 'december 2015', 'truck_id': '4781702'},
 {'date': 'september 2015', 'truck_id': '4781411'},
 {'date': 'july 2015', 'truck_id': '4781363'},
 {'date': 'july 2015', 'truck_id': '4781405'},
 {'date': 'november 2015', 'truck_id': '4781482'},
 {'date': 'february 2015', 'truck_id': '4781460'},
 {'date': 'september 2015', 'truck_id': '4781377'},
 {'date': 'january 2015', 'truck_id': '4781749'},
 {'date': 'september 2015', 'truck_id': '4781363'},
 {'date': 'july 2015', 'truck_id': '4781411'},
 {'date': 'march 2015', 'truck_id': '4781839'},
 {'date': 'february 2015', 'truck_id': '4781474'},
 {'date': 'november 2015', 'truck_id': '4781496'},
 {'date': 'july 2015', 'truck_id': '4781377'},
 {'date': 'september 2015', 'truck_id': '4781405'},
 {'date': 'october 2015', 'truck_id': '4781483'},
 {'date': 'january 2015', 'truck_id': '4781761'},
 {'date': 'june 2015', 'truck_id': '4781686'},
 {'date': 'march 2015', 'truck_id': '4781811'},
 {'date': 'july 2015', 'truck_id': '4781439'},
 {'date': 'june 2015', 'truck_id': '4781692'},
 {'date': 'march 2015', 'truck_id': '4781805'},
 {'date': 'february 2015', 'truck_id': '4781448'},
 {'date': 'january 2015', 'truck_id': '4781775'},
 {'date': 'september 2015', 'truck_id': '4781439'},
 {'date': 'august 2015', 'truck_id': '4781789'},
 {'date': 'october 2015', 'truck_id': '4781497'},
 {'date': 'march 2015', 'truck_id': '4781434'},
 {'date': 'november 2015', 'truck_id': '4781643'},
 {'date': 'may 2015', 'truck_id': '4781509'},
 {'date': 'september 2015', 'truck_id': '4781808'},
 {'date': 'december 2015', 'truck_id': '4781528'},
 {'date': 'august 2015', 'truck_id': '4781560'},
 {'date': 'april 2015', 'truck_id': '4781537'},
 {'date': 'april 2015', 'truck_id': '4781523'},
 {'date': 'august 2015', 'truck_id': '4781574'},
 {'date': 'january 2015', 'truck_id': '4781588'},
 {'date': 'march 2015', 'truck_id': '4781420'},
 {'date': 'july 2015', 'truck_id': '4781808'},
 {'date': 'november 2015', 'truck_id': '4781657'},
 {'date': 'june 2015', 'truck_id': '4781447'},
 {'date': 'february 2015', 'truck_id': '4781845'},
 {'date': 'july 2015', 'truck_id': '4781820'},
 {'date': 'march 2015', 'truck_id': '4781408'},
 {'date': 'may 2015', 'truck_id': '4781535'},
 {'date': 'december 2015', 'truck_id': '4781514'},
 {'date': 'october 2015', 'truck_id': '4781642'},
 {'date': 'september 2015', 'truck_id': '4781834'},
 {'date': 'september 2015', 'truck_id': '4781820'},
 {'date': 'december 2015', 'truck_id': '4781500'},
 {'date': 'august 2015', 'truck_id': '4781548'},
 {'date': 'october 2015', 'truck_id': '4781656'},
 {'date': 'february 2015', 'truck_id': '4781851'},
 {'date': 'june 2015', 'truck_id': '4781453'},
 {'date': 'july 2015', 'truck_id': '4781834'},
 {'date': 'february 2015', 'truck_id': '4781689'},
 {'date': 'may 2015', 'truck_id': '4781521'},
 {'date': 'november 2015', 'truck_id': '4781680'},
 {'date': 'february 2015', 'truck_id': '4781662'},
 {'date': 'july 2015', 'truck_id': '4781607'},
 {'date': 'march 2015', 'truck_id': '4781391'},
 {'date': 'september 2015', 'truck_id': '4781613'},
 {'date': 'september 2015', 'truck_id': '4781607'},
 {'date': 'march 2015', 'truck_id': '4781385'},
 {'date': 'february 2015', 'truck_id': '4781676'},
 {'date': 'november 2015', 'truck_id': '4781694'},
 {'date': 'july 2015', 'truck_id': '4781613'},
 {'date': 'june 2015', 'truck_id': '4781484'},
 {'date': 'january 2015', 'truck_id': '4781563'},
 {'date': 'october 2015', 'truck_id': '4781681'},
 {'date': 'october 2015', 'truck_id': '4781695'},
 {'date': 'january 2015', 'truck_id': '4781577'},
 {'date': 'june 2015', 'truck_id': '4781490'},
 {'date': 'august 2015', 'truck_id': '4781372'},
 {'date': 'november 2015', 'truck_id': '4781737'},
 {'date': 'march 2015', 'truck_id': '4781540'},
 {'date': 'april 2015', 'truck_id': '4781443'},
 {'date': 'august 2015', 'truck_id': '4781414'},
 {'date': 'august 2015', 'truck_id': '4781400'},
 {'date': 'april 2015', 'truck_id': '4781457'},
 {'date': 'december 2015', 'truck_id': '4781448'},
 {'date': 'may 2015', 'truck_id': '4781469'},
 {'date': 'november 2015', 'truck_id': '4781723'},
 {'date': 'august 2015', 'truck_id': '4781366'},
 {'date': 'march 2015', 'truck_id': '4781554'},
 {'date': 'may 2015', 'truck_id': '4781441'},
 {'date': 'june 2015', 'truck_id': '4781533'},
 {'date': 'october 2015', 'truck_id': '4781736'},
 {'date': 'august 2015', 'truck_id': '4781428'},
 {'date': 'december 2015', 'truck_id': '4781460'},
 {'date': 'september 2015', 'truck_id': '4781798'},
 {'date': 'october 2015', 'truck_id': '4781722'},
 {'date': 'december 2015', 'truck_id': '4781474'},
 {'date': 'july 2015', 'truck_id': '4781798'},
 {'date': 'may 2015', 'truck_id': '4781455'},
 {'date': 'march 2015', 'truck_id': '4781568'},
 {'date': 'june 2015', 'truck_id': '4781527'},
 {'date': 'march 2015', 'truck_id': '4781583'},
 {'date': 'july 2015', 'truck_id': '4781773'},
 {'date': 'february 2015', 'truck_id': '4781716'},
 {'date': 'april 2015', 'truck_id': '4781480'},
 {'date': 'september 2015', 'truck_id': '4781767'},
 {'date': 'september 2015', 'truck_id': '4781773'},
 {'date': 'january 2015', 'truck_id': '4781359'},
 {'date': 'april 2015', 'truck_id': '4781494'},
 {'date': 'march 2015', 'truck_id': '4781597'},
 {'date': 'july 2015', 'truck_id': '4781767'},
 {'date': 'february 2015', 'truck_id': '4781702'},
 {'date': 'may 2015', 'truck_id': '4781482'},
 {'date': 'january 2015', 'truck_id': '4781417'},
 {'date': 'january 2015', 'truck_id': '4781371'},
 {'date': 'january 2015', 'truck_id': '4781365'},
 {'date': 'january 2015', 'truck_id': '4781403'},
 {'date': 'may 2015', 'truck_id': '4781496'},
 {'date': 'august 2015', 'truck_id': '4781399'},
 {'date': 'august 2015', 'truck_id': '4781616'},
 {'date': 'april 2015', 'truck_id': '4781641'},
 {'date': 'october 2015', 'truck_id': '4781508'},
 {'date': 'january 2015', 'truck_id': '4781832'},
 {'date': 'march 2015', 'truck_id': '4781742'},
 {'date': 'november 2015', 'truck_id': '4781535'},
 {'date': 'june 2015', 'truck_id': '4781719'},
 {'date': 'march 2015', 'truck_id': '4781756'},
 {'date': 'november 2015', 'truck_id': '4781521'},
 {'date': 'january 2015', 'truck_id': '4781826'},
 {'date': 'april 2015', 'truck_id': '4781655'},
 {'date': 'august 2015', 'truck_id': '4781602'},
 {'date': 'december 2015', 'truck_id': '4781662'},
 {'date': 'october 2015', 'truck_id': '4781534'},
 {'date': 'june 2015', 'truck_id': '4781731'},
 {'date': 'november 2015', 'truck_id': '4781509'},
 {'date': 'may 2015', 'truck_id': '4781643'},
 {'date': 'june 2015', 'truck_id': '4781725'},
 {'date': 'may 2015', 'truck_id': '4781657'},
 {'date': 'december 2015', 'truck_id': '4781676'},
 {'date': 'april 2015', 'truck_id': '4781669'},
 {'date': 'october 2015', 'truck_id': '4781520'},
 {'date': 'september 2015', 'truck_id': '4781565'},
 {'date': 'december 2015', 'truck_id': '4781845'},
 {'date': 'april 2015', 'truck_id': '4781682'},
 {'date': 'february 2015', 'truck_id': '4781514'},
 {'date': 'july 2015', 'truck_id': '4781571'},
 {'date': 'march 2015', 'truck_id': '4781781'},
 {'date': 'january 2015', 'truck_id': '4781629'},
 {'date': 'february 2015', 'truck_id': '4781500'},
 {'date': 'july 2015', 'truck_id': '4781565'},
 {'date': 'march 2015', 'truck_id': '4781795'},
 {'date': 'december 2015', 'truck_id': '4781851'},
 {'date': 'august 2015', 'truck_id': '4781819'},
 {'date': 'december 2015', 'truck_id': '4781689'},
 {'date': 'april 2015', 'truck_id': '4781696'},
 {'date': 'september 2015', 'truck_id': '4781571'},
 {'date': 'august 2015', 'truck_id': '4781831'},
 {'date': 'september 2015', 'truck_id': '4781559'},
 {'date': 'january 2015', 'truck_id': '4781615'},
 {'date': 'february 2015', 'truck_id': '4781528'},
 {'date': 'may 2015', 'truck_id': '4781680'},
 {'date': 'july 2015', 'truck_id': '4781559'},
 {'date': 'may 2015', 'truck_id': '4781694'},
 {'date': 'january 2015', 'truck_id': '4781601'},
 {'date': 'august 2015', 'truck_id': '4781825'},
 {'date': 'may 2015', 'truck_id': '4781682'},
 {'date': 'january 2015', 'truck_id': '4781617'},
 {'date': 'august 2015', 'truck_id': '4781833'},
 {'date': 'august 2015', 'truck_id': '4781827'},
 {'date': 'january 2015', 'truck_id': '4781603'},
 {'date': 'may 2015', 'truck_id': '4781696'},
 {'date': 'march 2015', 'truck_id': '4781783'},
 {'date': 'july 2015', 'truck_id': '4781573'},
 {'date': 'february 2015', 'truck_id': '4781516'},
 {'date': 'april 2015', 'truck_id': '4781680'},
 {'date': 'december 2015', 'truck_id': '4781847'},
 {'date': 'september 2015', 'truck_id': '4781567'},
 {'date': 'september 2015', 'truck_id': '4781573'},
 {'date': 'april 2015', 'truck_id': '4781694'},
 {'date': 'march 2015', 'truck_id': '4781797'},
 {'date': 'july 2015', 'truck_id': '4781567'},
 {'date': 'february 2015', 'truck_id': '4781502'},
 {'date': 'may 2015', 'truck_id': '4781641'},
 {'date': 'june 2015', 'truck_id': '4781733'},
 {'date': 'october 2015', 'truck_id': '4781536'},
 {'date': 'august 2015', 'truck_id': '4781628'},
 {'date': 'december 2015', 'truck_id': '4781660'},
 {'date': 'september 2015', 'truck_id': '4781598'},
 {'date': 'october 2015', 'truck_id': '4781522'},
 {'date': 'december 2015', 'truck_id': '4781674'},
 {'date': 'july 2015', 'truck_id': '4781598'},
 {'date': 'may 2015', 'truck_id': '4781655'},
 {'date': 'march 2015', 'truck_id': '4781768'},
 {'date': 'june 2015', 'truck_id': '4781727'},
 {'date': 'january 2015', 'truck_id': '4781818'},
 {'date': 'november 2015', 'truck_id': '4781537'},
 {'date': 'march 2015', 'truck_id': '4781740'},
 {'date': 'january 2015', 'truck_id': '4781830'},
 {'date': 'april 2015', 'truck_id': '4781643'},
 {'date': 'august 2015', 'truck_id': '4781614'},
 {'date': 'august 2015', 'truck_id': '4781600'},
 {'date': 'april 2015', 'truck_id': '4781657'},
 {'date': 'december 2015', 'truck_id': '4781648'},
 {'date': 'january 2015', 'truck_id': '4781824'},
 {'date': 'may 2015', 'truck_id': '4781669'},
 {'date': 'november 2015', 'truck_id': '4781523'},
 {'date': 'march 2015', 'truck_id': '4781754'},

In [62]:
df = pd.DataFrame(trips_data_dir_dict)
df.describe()

                date truck_id
count           6000     6000
unique            12      500
top     january 2015  4781600
freq             500       12

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6000 non-null   object
 1   truck_id  6000 non-null   object
dtypes: object(2)
memory usage: 93.9+ KB

In [67]:
df['file_path'] = df['date'] + '_' + df['truck_id'] + '.csv'
grouped_by_truck_id = df.groupby('truck_id', observed=True)
grouped_by_truck_id

                date truck_id                   file_path
0       january 2015  4781600    january 2015_4781600.csv
1          july 2015  4781558       july 2015_4781558.csv
2           may 2015  4781695        may 2015_4781695.csv
3        august 2015  4781824     august 2015_4781824.csv
4     september 2015  4781558  september 2015_4781558.csv
...              ...      ...                         ...
2934       july 2015  4781729       july 2015_4781729.csv
2947       july 2015  4781715       july 2015_4781715.csv
2948  september 2015  4781701  september 2015_4781701.csv
2988  september 2015  4781503  september 2015_4781503.csv
2989       july 2015  4781517       july 2015_4781517.csv

[2500 rows x 3 columns]

In [72]:
def merge_truck_data():
    for truck_id, group in grouped_by_truck_id:
        aggregated_truck_data = pd.DataFrame()
        for file_path, date in group[['file_path', 'date']].values:
            truck_data = pd.read_csv(
                f"./data/Basic - Azrieli & Sons data/trips_data/{file_path}")
            truck_data['truck_id'] = truck_id
            truck_data['date'] = date
            aggregated_truck_data = pd.concat(
                [aggregated_truck_data, truck_data], ignore_index=True)
        aggregated_truck_data.to_csv(
            f"./data/Basic - Azrieli & Sons data/trips_data_by_truck_id/{truck_id}.csv")

In [73]:
trips_data_by_truck_id_dir = os.listdir(f"./data/Basic - Azrieli & Sons data/trips_data_by_truck_id")
len(trips_data_by_truck_id_dir)

500

In [74]:
def merge_trips_data():
    trips_data = pd.DataFrame()
    for truck_id in trips_data_by_truck_id_dir:
        truck_data = pd.read_csv(
            f"./data/Basic - Azrieli & Sons data/trips_data_by_truck_id/{truck_id}")
        trips_data = pd.concat([trips_data, truck_data], ignore_index=True)
    trips_data.to_csv("./data/Basic - Azrieli & Sons data/trips_data_aggregated.csv")

In [81]:
aggregated_trips = pd.read_csv("./data/Basic - Azrieli & Sons data/trips_data_aggregated.csv")
aggregated_trips.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.2'], inplace=True)
aggregated_trips.head(10)

,customer,driver_id,end_time,km,start_time,truck_id,date
0,yes,913,2015-10-01 06:08:00,314.412299,2015-10-01 02:04:00,4781469,october 2015
1,tnuva,784,2015-10-01 20:25:00,387.728884,2015-10-01 14:28:00,4781469,october 2015
2,electricity,196,2015-10-02 10:28:00,647.812057,2015-10-02 02:35:00,4781469,october 2015
3,tnuva,485,2015-10-02 22:04:00,491.782380,2015-10-02 14:48:00,4781469,october 2015
4,yes,238,2015-10-03 07:52:00,567.020223,2015-10-03 00:33:00,4781469,october 2015
5,iaf,946,2015-10-03 18:04:00,285.060767,2015-10-03 13:59:00,4781469,october 2015
6,jerusalem_muni,152,2015-10-04 02:37:00,217.005998,2015-10-04 00:01:00,4781469,october 2015
7,electricity,779,2015-10-04 18:33:00,443.712818,2015-10-04 12:18:00,4781469,october 2015
8,bituch_leumi,480,2015-10-05 03:35:00,133.599476,2015-10-05 01:43:00,4781469,october 2015
9,jerusalem_muni,444,2015-10-05 17:33:00,168.341740,2015-10-05 15:18:00,4781469,october 2015

In [82]:
aggregated_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318181 entries, 0 to 318180
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   customer    318181 non-null  object
 1   driver_id   318181 non-null  int64
 2   end_time    315098 non-null  object
 3   km          318181 non-null  float64
 4   start_time  315032 non-null  object
 5   truck_id    318181 non-null  int64
 6   date        318181 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 17.0+ MB

In [83]:
aggregated_trips['start_time'] = pd.to_datetime(aggregated_trips['start_time'])
aggregated_trips['end_time'] = pd.to_datetime(aggregated_trips['end_time'])
aggregated_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318181 entries, 0 to 318180
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   customer    318181 non-null  object
 1   driver_id   318181 non-null  int64
 2   end_time    315098 non-null  datetime64[ns]
 3   km          318181 non-null  float64
 4   start_time  315032 non-null  datetime64[ns]
 5   truck_id    318181 non-null  int64
 6   date        318181 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 17.0+ MB

In [92]:
aggregated_trips['date'] = aggregated_trips['date'].str.split(' ', expand=True)[0]
aggregated_trips['date'].nunique()

12

In [100]:
nan_start_end = aggregated_trips[aggregated_trips['start_time'].isna() & aggregated_trips['end_time'].isna()]
nan_start_end.count()

customer      43
driver_id     43
end_time       0
km            43
start_time     0
truck_id      43
date          43
dtype: int64

In [118]:
aggregated_trips['day_of_week'] = aggregated_trips['start_time'].dt.dayofweek
aggregated_trips.head()

,customer,driver_id,end_time,km,start_time,truck_id,date,day_of_week
0,yes,913,2015-10-01 06:08:00,314.412299,2015-10-01 02:04:00,4781469,october,3.0
1,tnuva,784,2015-10-01 20:25:00,387.728884,2015-10-01 14:28:00,4781469,october,3.0
2,electricity,196,2015-10-02 10:28:00,647.812057,2015-10-02 02:35:00,4781469,october,4.0
3,tnuva,485,2015-10-02 22:04:00,491.782380,2015-10-02 14:48:00,4781469,october,4.0
4,yes,238,2015-10-03 07:52:00,567.020223,2015-10-03 00:33:00,4781469,october,5.0

In [119]:
def calculate_trip_duration(row):
    if pd.isnull(row['start_time']) or pd.isnull(row['end_time']):
        return None
    return row['end_time'] - row['start_time']


def calculate_day_trip_duration(row):
    start_day_time_limit = 6
    end_day_time_limit = 22
    start_time = row['start_time']
    end_time = row['end_time']
    if pd.isnull(start_time) or pd.isnull(end_time):
        return None
    current_time = start_time
    if start_day_time_limit <= current_time.hour <= end_day_time_limit:

In [122]:
aggregated_trips['trip_duration'] = aggregated_trips.apply(calculate_trip_duration, axis=1)
max_delta = aggregated_trips['trip_duration'].max()

1

In [139]:
max_trip_duration = aggregated_trips['trip_duration'].max()
max_duration_rows = aggregated_trips[aggregated_trips['trip_duration'] == max_trip_duration]
max_duration_rows.head()

,customer,driver_id,end_time,km,start_time,truck_id,date,day_of_week,trip_duration
81162,iaf,436,2015-05-28 21:07:00,3184.877400,2015-05-27 03:48:00,4781797,may,2.0,1 days 17:19:00
84029,electricity,588,2015-01-04 06:42:00,2987.727399,2015-01-02 13:23:00,4781595,january,4.0,1 days 17:19:00
93434,tnuva,932,2015-04-02 19:59:00,2705.702525,2015-04-01 02:40:00,4781609,april,2.0,1 days 17:19:00
121647,aminach,21,2015-07-24 19:09:00,3494.353053,2015-07-23 01:50:00,4781408,july,3.0,1 days 17:19:00
170388,intel,424,2015-02-25 07:09:00,3675.768745,2015-02-23 13:50:00,4781368,february,0.0,1 days 17:19:00